<div class="float-CTA">
    <a class="btn btn-primary text-white btn" title="Contatta un tecnico" data-toggle="modal" data-target="#modaleCTA" onclick="gtag('event', 'click', {'event_category': 'Chiedi Info', 'event_label': 'Scroll button'});">Chiedi info</a>
</div>

<div class="modal fade" id="modaleCTA">
    <div class="modal-dialog my-5 modal-lg" role="document">
      <div class="modal-content bg-primary">
        <div class="modal-header">
          <h3 class="text-white m-2">
            <i class="fa fa-question-circle fa-fw text-dark"></i>
            <b>&nbsp;Chiedi a un tecnico</b>
          </h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-4 p-3 col-4">
              <i class="d-block  fa fa-pencil-square-o fa-4x mb-2"></i>
              <p class="text-white my-2" style="line-height:1.2rem;">Dettagli <br>tecnici</p>
            </div>
            <div class="col-md-4 p-3 col-4">
              <i class="d-block  fa fa-4x mb-2 fa-eye"></i>
              <p class="text-white my-2" style="line-height:1.2rem;">Referenze e <br>realizzazioni</p>
            </div>
            <div class="col-md-4 p-3 col-4">
              <i class="d-block  fa fa-4x mb-2 fa-eur"></i>
              <p class="text-white my-2" style="line-height:1.2rem;">Prezzi e <br>preventivi</p>
            </div>
          </div>
          <div class="row">
            <div class="py-3 mx-auto col-8 col-md-4 d-none d-md-block">
              <img class="img-fluid" src="/assets/azienda/michelevigano.jpg" alt="ing. Michele Vigano progettista"> </div>
            <div class="py-3 col-md-8 text-left">
              <h4 class="text-white">
                <i class="fa fa-arrow-circle-right fa-fw text-dark"></i>
                <b>&nbsp;ing. Michele Viganò</b>
              </h4>
              <p class="lead">
                <a href="tel:+393282117332" id="CTA Modale Numero IT Michele" onclick="gtag('event', 'click', {'event_category': 'CTA', 'event_label': 'Numero IT Michele'});" class="text-dark">
                  <i class="fa fa-phone fa-fw"></i>
                  <b>&nbsp;+39 328 211 73 32</b>
                </a>
                <br>
                <a href="mailto:michele.vigano@galimberti.eu" id="CTA Modale Mail Michele" onclick="gtag('event', 'click', {'event_category': 'CTA', 'event_label': 'Mail Michele'});" class="text-dark">
                  <i class="fa fa-envelope fa-fw"></i>
                  <b>&nbsp;michele.vigano@galimberti.eu</b>
                </a>
              </p>
            </div>
          </div>
          <button type="button" class="btn btn-block btn-dark" data-dismiss="modal">Chiudi</button>
        </div>
      </div>
    </div>
  </div>